[submodule "backend"]
	path = backend
	url = https://github.com/Dimensionalplane/websiteidea-backend.git
[submodule "frontend"]
	path = frontend
	url = https://github.com/Dimensionalplane/websiteidea-frontend.git
